<a href="https://colab.research.google.com/github/Tom-Jung/testttttt/blob/main/01_%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EC%9E%90%EB%A3%8C%ED%98%95_(%EC%88%98%EC%97%85%EC%A0%84).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 파이썬 모듈/라이브러리/패키지/pip

### 모듈 module
- 파이썬 함수나 변수 등은 별도의 스크립트 파일로 저장하여 불러서 사용 가능하다.
- 이런 스크립트 파일을 모듈이라 부른다

설치한 모듈 가져오기 - 모듈 임포트 import
- 미리 만들어진 모듈이 설치된 상태라면, 모듈 사용을 위해서는 불러와야 한다.
- import 모듈이름으로 위에서 설치한 패키지/모듈/함수를 가져온다.
- 모듈 안의 특정 구성요소(함수 등)를 사용할 때는 모듈이름 뒤에 점(.)을 찍은 후 호출한다.


### 패키지 package
- 패키지란, 추가적인 함수를 묶은 것으로 하나의 디렉토리에 있는 모듈의 집합.
- 여러 사람들이 미리 만들어 놓은 라이브러리를 간단한 설치로 손쉽게 사용가능하다.
- pip 프로그램을 이용해서 설치한다.


### pip
- 파이썬의 패키지 관리 소프트웨어
- 표준 라이브러리에 포함되지 않은 외부 라이브러리를 설치하는 도구
- 윈도우 명령 프롬프트를 이용하여 명령어를 입력한다.
- '!pip install 패키지이름' 처럼 사용한다.
    - 구글코랩에서는 느낌표가 없어도 되나, 붙이는 것을 권장
    - vscode 에서는 ! 대신 %를 붙여야 한다.


표준 라이브러리 standard library
- 파이썬 설치 시 함께 제공하는 모듈
- 다양한 문제를 해결하기 위해서는 이러한 표준 라이브러리의 기본적인 기능뿐만 아니라 여러 프로그래머와 기관에서 만들어 놓은 라이브러리 활용하는 것이 필요함
- [파이썬 표준라이브러리](https://docs.python.org/ko/3/library/index.html)

## 변수 variable

- 변수 = 데이터를 저장하는 공간 (상자)
- 저장한 데이터를 꺼내려면 변수의 이름으로 호출해야한다.
- 변수에 저장된 값은 수시로(우리가 원하는 만큼) 변경 가능
    - 수 : 특정한 수치값이라는 의미가 아닌, **데이터**로 이해하는 것이 좋다.

- 변수의 이름 = 식별자
- 변수의 이름은 프로그래머가 마음대로 지을 수 있다.
- 사람의 이름으로 사람을 구별하듯, 변수의 이름은 변수들을 구별하는 역할을 한다.

- 어린이날 = 505
    - 505는 어린이날이라는 변수와 같다.
    - 505는 어린이날이라는 변수에게 할당되었다.
- 나 = '홍길동'
    - '홍길동'은 나 와 같다.
    - '홍길동'은 나 에게 할당되었다.
   
- = 기호의 의미
    -  = : 파이썬에서는 = 기호를 할당연산자, 또는 대입연산자라고 부른다.
    - 같다’ 라는 등호의 의미가 아님(양쪽 값을 비교할때는 == 를사용)
    -  `오른쪽의 값`을 `왼쪽 변수`에 저장하라는 의미

코딩을 하다보면 여러가지 오류를 마주할 수 있다.
- SyntaxError 발생: 10진법 숫자에는 0이 올 수 없다는 뜻으로, 파이썬에서는 2진법, 8진법, 16진법에서만 숫자 앞에 0이 올 수 있다.

## print 함수

- 원하는 변수의 값을 출력한다.
- 각 변수나 값들은 공백으로 띄워져서 한 줄로 출력된다.
- 변수 값을 코드의 마지막 줄에 위치
- 여러 개의 변수가 한 셀에 위치할 경우 가장 마지막 변수 결과만 출력된다.
- 따라서 여러 개의 변수 결과를 한 셀에서 모두 보고 싶을 경우, print()를 사용한다.
- 변수 여러 개를 콤마(,)로 구분하여 넣을 수 있다.

In [ ]:
a = 10
b = 4 * 5
c = 900

In [ ]:
# 여러 개의 출력결과

In [ ]:
x = "Hello"
y = '안녕'

In [ ]:
print("Hello")
print(x)

In [ ]:
a = 10
b = 4 * 5
c = 900
print(a, b, c, b, a)

In [ ]:
# 구분자 seperator 적용 가능

In [ ]:
#백슬래쉬+n 은 줄바꿈기호(enter) 를 의미

In [ ]:
#백슬래쉬+t 는 탭을 의미

### 변수이름 (변수명) 규칙
- 알파벳, 한글, 한자, 일부 특수문자 가능
- 알파벳 대소문자는 구분
- 숫자를 쓸 수 있지만 변수명 첫 글자에는 쓸 수 없다.
- 띄어쓰기는 불가능하나, 띄어쓰기 대신 언더바(_)사용
- 특수문자 중에는 언더바(_) 를 사용할 수 있다.
    - 언더바 (`_`)는 변수 이름이 길어질 때 주로 공백을 대신 해서 사용한다.
    - 하이픈(-) 을 사용할 수 없다.
- 빈칸과 특수 문자(+, -, *, /, $, @, &, % 등) 사용할 수 없음

- 다른 사람이 봐도 이해하기 쉬운 변수이름을 짓는 것이 권장된다.
- 프로그래밍을 하는 그 순간에는 변수의 역할을 가장 잘 알지만,
- 일주일 뒤, 한달 뒤 코드를 다시 본다면? 어떤 역할을 하는 변수인지 한참을 다시 생각해야 하는 단점이 있다.
```python
a = [40, 45, 50, 55, 60, 65]    # 이해어려움
age = [40, 45, 50, 55, 60, 65]    # 나이
```

In [ ]:
사과 = 1234

In [ ]:
# 변수명 - apple, Apple, APPLE
apple = 10
Apple = 123
APPLE = 1024
print(apple, Apple, APPLE)

In [ ]:
# 첫 글자가 숫자인 변수명은 불가능
123abc = 12345  #SyntaxError: invalid decimal literal
abc123 = 12345
abc123

### 사용할 수 없는 변수명
- 변수명: 파이썬이 내부적으로 사용하는 **예약어**는 변수이름으로 사용할 수 없다.
- False, True, class, return, is, finally, if, for, lambda, continue, and, yield 등..
- 이를 예약어라고 한다.
- **예약어Reserved Words** 파이썬에서 이미 문법적인 용도로 사용되는 단어

In [ ]:
# 예약어 모음을 확인하기 위해 외장함수 호출
import keyword
print(len(keyword.kwlist))
print('===============')
print(keyword.kwlist)

In [ ]:
# 참, 거짓에 해당하는 변수명 주의

### 변수 삭제/제거
- 변수를 삭제하고 싶을때는, `del` 내장 함수를 사용한다.

In [ ]:
a = 1  # a는 1이라고 지정한 후,
del a  # del 함수를 사용해 지워본다

In [ ]:
print(a)
# 파이썬이 `a` 를 찾지 못했다고 NameError를 띄운다.

## 수식과 연산자
- 수학의 수식(mathematical expression)은 수학적 표기법과 기호를 이용하여 수학적 개념을 표현하는 것.
- 수식을 통해 우리는 수식 내의 기호들이 표현하는 수학적 대상들의 관계 파악 가능

- 프로그래밍에서의 수식 (expression) 은 수학적 관계가 아니라 하나의 값으로 평가(evaluation) 될 수 있는 표현을 의미한다.
- 5*5+2 이라는 표현은 27이라는 값으로 평가될 수 있는 수식이다.

In [ ]:
# 연산자와 피연산자 사이에 공백을 두는 것이 파이썬의 코딩 관습
# 공백이 없어도 결과는 같음

### 대입 연산자 =
- 오른쪽의 수식이나 값을 계산한 뒤, 왼쪽에 명시된 변수에 해당 값을 대입한다.
- assignment operator, - 대입연산자라고도 부름
- 같다라는 의미가 아닌, 변수에 값을 저장하는 연산자
- 왼쪽은 값을 저장할 수 있는 변수
- 오른쪽은 값을 표현하는 숫자, 변수 또는 수식

### 산술 연산자
- 사칙연산 및 기타
- 나눗셈연산시 주의점 : / 는 항상 실수로 계산한다.
- 나눗셈의 몫의 정수로 계산하고 싶은 경우, //를 사용한다.

| 산술연산자 |  기능  |
|:----------:|:------:|
|     A + B    | 더하기 |
|     A - B    |  빼기  |
|     A * B    | 곱하기 |
|     A / B    | 나누기 |
|     A % B    | 나머지 |
|    A ** B    |  제곱  |
|    A // B    |   몫   |
|   divmod(A,B)   | (몫, 나머지) |



### 다중할당문
- 여러 개의 변수에 동일한 값을 할당

### 동시할당문
- 여러 변수에 한꺼번에 여러 값을 할당


### 복합 할당 연산자 (산술&할당)
- 코드를 조금 더 간결하게 만들어 주는 역할을 한다.
- 특정 산술연산자를 @ 라고 하면,복합할당연산자는 @= 과 같은 모양을 나타낸다.

| 할당연산자 |                        기능                        |
|:----------:|:--------------------------------------------------:|
|     A = B    |             왼쪽 값에 오른쪽 값을 할당             |
|    A += B    |       왼쪽 값을 오른쪽에 더한 후, 왼쪽에 할당      |
|    A -= B    |        왼쪽 값을 오른쪽에 뺀 후, 왼쪽에 할당       |
|    A *= B    |       왼쪽 값을 오른쪽에 곱한 후, 왼쪽에 할당      |
|    A /= B    |       왼쪽 값을 오른쪽에 나눈 후, 왼쪽에 할당      |
|    A %= B    | 왼쪽 값을 오른쪽에 나눈 후, 나머지값을 왼쪽에 할당 |


### 비교 연산자
- 크다 혹은 작다와 같은 비교연산
- 결과는 bool 자료형 True, False 로 나타난다.
- 수치데이터 두개의 피연산자를 대상으로 크기 관계를 확인한다.

| 비교연산자 |              기능             |
|:----------:|:-----------------------------:|
|    A == B    |              같음             |
|    A != B    |           같지 않음           |
|     A > B    |      왼쪽이 오른쪽보다 큼     |
|     A < B    |      오른쪽이 왼쪽보다 큼     |
|    A >= B    | 왼쪽이 오른쪽보다 크거나 같음 |
|    A <= B    | 오른쪽이 왼쪽보다 크거나 같음 |

In [ ]:
# 동시 할당문 : 한줄에 여러 개의 변수를 선언하고 동시에 할당
근로자의날, 어린이날, 한글날 = 501, 505, 1009
print(근로자의날, 어린이날, 한글날, sep='\n')

In [ ]:
# 200 + 100 연산을 수행하고, 그 결과를 num 변수에 할당
num = 200   ## 100을 더해서 num 변수에 저장
num = num + 100
num

In [ ]:
num = 200
num += 100
num

In [ ]:
a, b, c = 1, 5, 9


### 논리 연산자 (logical operator)
- 불리안 값을 가진 데이터에 대해 적용할 수 있는 연산
- AND, OR, NOR 연산을 수행하며, 불리안 자료형(True 혹은 False) 반환한다.
- x and y : x와 y 중 false가 하나라도 있으면 F, 모두 True 인 경우만 True  
- x or y : x나 y중에서 하나라도 T이면 T가 되며, 모두 F일때만 False.
- x not y : x가 참이면 F, y가 거짓이면 True.


| 논리연산자 |             기능             |
|:----------:|:----------------------------:|
|    A and B   |    양쪽이 모두 참이면 True   |
|    A or B    | 양쪽 중 하나라도 참이면 True |
|     not A   |     오른쪽이 False면 True    |

In [ ]:
# 2는 4보다 작고 또는 7은 5보다 작은가?
(2 < 4) or (7 < 5)

In [ ]:
(2 < 4) and (7 < 5)

In [ ]:
2 < 4 and 7 < 5

### 연산자간 우선순위

> - 괄호가 있으면 먼저 계산하고 나머지는 우선순위대로 계산한다.
> - 우선순위가 같다면 왼쪽 항부터 계산한다.

| 우선순위 | 연산자 | 설명 |
|:---:|:---:|:---:|
| 1 | (값...), [값...], {키: 값...}, {값...} | 튜플, 리스트, 딕셔너리, 세트 생성 |
| 2 | x[인덱스], x[인덱스:인덱스], x(인수...), x.속성 | 리스트(튜플)   첨자, 슬라이싱, 함수 호출, 속성 참조 |
| 3 | await   x | await 표현식 |
| 4 | ** | 거듭제곱 |
| 5 | +x, -x, ~x | 단항 덧셈(양의 부호), 단항 뺄셈(음의 부호), 비트 NOT |
| 6 | *, @, /, //, % | 곱셈, 행렬 곱셈, 나눗셈, 버림 나눗셈, 나머지 |
| 7 | +, - | 덧셈, 뺄셈 |
| 8 | <<, >> | 비트 시프트 |
| 9 | & | 비트 AND |
| 10 | ^ | 비트 XOR |
| 11 | \| | 비트 OR |
| 12 | in, not   in, is, is not,   <, <=, >, >=, !=, == | 포함 연산자, 객체 비교 연산자, 비교 연산자 |
| 13 | not   x | 논리   NOT |
| 14 | and | 논리 AND |
| 15 | or | 논리 OR |
| 16 | if else | 조건부 표현식 |
| 17 | lambda | 람다 표현식 |

# 파이썬에서 다루는 데이터 유형

#### 1. 숫자형 (Numeric Type)
- 정수 (int; integer) : 소수점이 없는 양/음의 정수
- 실수 (float) : 소수점이 붙은 실수
- 복소수 (complex) : 실수와 허수의 합 (i, j)

#### 2. 문자형 (Sequence Type)
- 문자열 (str; strings) : 문자(character)의 나열이다. '' (따옴표) 사이에 값을 입력하고, 숫자이더라도 '3' 으로 사용하면 숫자가 아닌 문자형으로 인식한다.
- 리스트 (list) : 가장 많이 사용되는 연속형 데이터 타입으로 []로 나타낸다. 원소들을 쉼표로 구분하고 대부분의 데이터를 다룰 수 있고 수정이 가능하다.
- 튜플 (tuple) : 리스트와 유사하지만 ()를 사용하여 표현하고 생성 후에 변경이 불가능한 immutable 타입. 수정이 불가능하므로, 추후 수정시 사용할 여유메모리를 할당하지 않아도 되므로 대용량의 데이터를 처리할 때 성능에 장점이 있다.

#### 3. 집합 (Set)
- {} 를 사용하며, 리스트와 같이 ,를 사용하여 원소들을 구분한다. 단, 중복과 순서가 존재하지 않고 인덱스가 없으므로 인덱싱이 불가능하다.
- 예) {1, 1, 2, 3} 이라는 집합의 길이는 3이다. 1이 중복되어있으므로 삭제된다.

#### 4. 사전 (Dictionary)
- 리스트와 더불어 가장 많이 사용되는 구조이다.
- Key : Value 형식으로 저장된다.
- {} 를 집합과 동일하게 사용하지만, key : value 가 하나의 원소이다.
- key 값을 통해 value 값을 호출한다.
- key 값 중복 불가능.
- 예) {'점심' : '김밥', '저녁' : '라면'}

#### 5. 불리언 (Boolean)
- 참/거짓을 True/False, 1/0 형태로 나타낸다.

#### 6. None
- 일반적으로 초기 변수를 생성 (빈 변수) 시 사용한다.
- 예) id = None

## 변수의 자료형 확인: type()
- 변수에 어떤 종류의 데이터도 저장가능하지만, 자료형에 항상 주의해야 한다.
- 자료형에 따라 각종 연산의 의미가 달라진다.
- 'type()' 명령어를 사용

In [ ]:
# 실수: float
a = 3.14

In [ ]:
type(a)

In [ ]:
# 정수 int
b = 100
type(b)

In [ ]:
# <class 'int'>
print(b, type(b))

# 불리언 Booleen

컴퓨터가 무엇이 옳고 틀린지 판단하려면 무엇이 '참'인지 '거짓'인지를 의미하는 데이터가 필요하다.

Boolean 자료형 : 참(True)과 거짓(False)을 나타내는 자료형

파이썬에서는 ```True``` 로 참을 나타내고,``` False ```로 거짓을 나타낸다.

Boolean은 줄여서 Bool이라고하며, 참과 거짓, 두가지 값만 가질 수 있다.

### 1. Bool 생성

Bool 자료형은 다음과 같이 쓴다.

In [ ]:
#True, False의 첫글자는 대문자로 써야함
a = True
print(a, type(a))

b = False
print(b, type(b))

In [ ]:
#True , 1이라는 값에 해당
#False, 0이라는 값에 해당
# 역은 성립하지 않음

Bool 자료형은 조건문의 리턴값으로도 사용된다.

In [ ]:
a, b, c = 10, 20, 20

### 2. 참과 거짓
- 불리언 자료형 또는 bool 자료형
- 0이 아닌 숫자는 True
- 비어있는 문자는 False

In [ ]:
x = ['한국', '연수원']
bool(x)

In [ ]:
x = []
bool(x)

In [ ]:
bool(1)

In [ ]:
bool(0)

# 값

## 숫자 (Number)


|항목| 예시|
|----|----|
|정수|123,-345,0|
|실수|123.45, 3.4e10|
|8진수|0o34, 0o25|
|16진수|0x2A,0xFF|

In [ ]:
# 10이라는 입력을 A라는 변수에 그대로 출력
# print 함수는 값을 출력하는 기능
x = 10
print(x)

- int와 float가 더해지면 가장 영역이 넓은 float 형태로 저장된다.

In [ ]:
# int와 float가 더해지면 가장 영역이 넓은 float 형태로 저장
10 + 10.0

#### int() 함수 - 실수를 정수로 변환
- 정수화 하기 위해서 int() 함수를 사용

#### float() 함수 - 정수를 실수로 변환

In [ ]:
# 정수를 실수로 변환 float()

### round() 함수
- 반올림시 사용
- round(변수명, 소숫점 아래 자리수)
- ceil() : 올림
- floor() : 내림
- trunc() : 소수점 버림

In [ ]:
import math
x = 1003.141592

In [ ]:
import math
math.ceil(3.14)

In [ ]:
math.floor(3.14)

In [ ]:
math.trunc(3.14)

---

## 문자 (String)
문자열은 문자로 이뤄진 자료형이다.

```python
'This is a string'
```

문자열은 따옴표를 앞뒤로 감싸 표현한다.

```python
a = '문자열입니다'  
b = "문자열입니다"  
```

`str` 내장 함수로, 자료형을 바꿀 수 있다.

```python
str(123)
```

```
'123'
```

escape string (이스케이프 문자)
- 문자열내의 일부 문자의 의미를 달리하여 `특정한 효과`를 주는 것
- `\n` : 줄바꿈 (new line)
- `\t` : 탭 (tab)
-  백슬래쉬(/) 기호
- Escape Code라고 부르기도 함

| 코드 | 설명 |
|-----|:----:|
| \n  |	개행(줄바꿈)|
|\t	  |수평 탭 |
|\\   |	문자"\"|
|\'	| 단일 인용부호(')|
| \"|이중 인용부호(") |
| \r|캐리지 리턴|
| \f|폼 피드|
|\a	|벨 소리|

> 들여쓴 블록


|\b	|백 스페이스|
|\000|널문자|

주로 \n, \t, \\, \', \"이 많이 쓰임

In [ ]:
a = '문자열입니다'
b = "문자열입니다"
print(a, b)

In [ ]:
x = 10
type(x)
x

In [ ]:
str(x)

문자열 안에 따옴표를 사용할때는, 문자열이 중간에 끊겨 `SyntaxError`가 발생하지 않게 주의를 기울여야 한다.

```python
"파이썬 문자열 내부에 "따옴표 사용""
```

In [ ]:
"파이썬 문자열 내부에 "따옴표 사용""




만약, 문자열 안에 큰 따옴표를 사용하고 싶다면, 밖에 따옴표를 작은 따옴표로 감싸주면 된다.

```python
'파이썬 문자열 내부에 "따옴표 사용"'  # ' ' 로 " " 감싸기
```



큰 따옴표(`"""`) 또는 작은 따옴표 세개(`'''`)를 연속으로 사용하면, 다시 따옴표 세 개가 연속으로 나올 때까지
줄바꿈을 포함해서 모든 글자를 문자열로 인식한다.

```python
"""
파이썬 문자열 내부에 "따옴표 사용"
줄바꿈시엔 '따옴표' 3개

"""
```

In [ ]:
'파이썬 문자열 내부에 "따옴표 사용"'  # ' ' 로 " " 감싸기

### 2.1 문자열 표현방법 4가지

In [ ]:
#1. 큰 따옴표("")
"종로구 삼청동"

In [ ]:
#2. 작은 따옴표('')

In [ ]:
#3.큰 따옴표 3개 (""" """)

In [ ]:
#4. 작은 따옴표 3개 (''' ''')

### 문자열 표현

줄 바꿈 등으로 문자열을 표현하고 싶다면, 역슬래쉬(`\`)를 사용할 수 있다.

```python
'\n'  # 줄바꿈
'\t'  # 탭
```



`\n` 을 출력할 경우, 줄바꿈으로 표현된다.

```python
print('파이썬\n1. 문자열\n2. 숫자')
```

In [ ]:
print('파이썬\n1. 문자열\n2. 숫자')


### 문자열 연산

덧셈 표시를 이용해, 문자열끼리 합칠 수 있다.

```python
'1 더하기 1은 ' + '2 입니다'
```

```
'1 더하기 1은 2 입니다'
```



곱셈 표시를 이용해, 문자열을 반복할 수 있다.

```python
'하' * 3
```

```
'하하하'
```

a. concatenation

문자열 더 해서 연결하기

In [ ]:
a = "종로구"
b = "삼청동"

b. multiplication
문자열 곱하기

In [ ]:
b = "서울"

c. 문자열 길이 구하기

In [ ]:
c = "종로구 삼청동"

### 자료형 변환
- 500 + '원' 출력 결과를 확인해보자
- 오류가 발생하는 이유는 무엇인가?

In [ ]:
500 + '원'

- 500의 자료형은 정수
- '원'의 자료형은 문자열
- 파이썬에게 2개를 합하라고 하니, 어떻게 할지 모르는 문제가 발생한다.

In [ ]:
'500' + '원'

- `str()` 함수 - 자료형을 문자열로 변환

In [ ]:
str(500) + '원'

#### int() 함수 - 실수를 정수로 변환
- 정수화 하기 위해서 int() 함수를 사용합니다.

In [ ]:
# int() 숫자이지만 문자열인 경우, 다시 정수로 변환하기 위해 사용
a = '500'

In [ ]:
b = '123.123'

#### float() 함수 - 정수를 실수로 변환

In [ ]:
# 정수를 실수로 변환 float()
a = 3.14

### 문자열 관련 함수

#### count()
- `.count()` 함수는 해당 글자가 문자열에서 몇 번 쓰였는지 확인해준다.

In [ ]:
인사 = 'Hello World! Nice to meet you'
a = "python"
b = "안녕하세요?????"

In [ ]:
인사.count('Hello')

#### find()

- 문자열 중 ()가 처음으로 나오는 위치를 알려준다.
- 문자열에 없는 글자여도 오류가 발생하지 않고 -1을 반환한다. 순서와 위치는 인덱싱 규칙을 따르므로 0부터 시작한다.

In [ ]:
인사 = 'Hello World! Nice to meet you'
a = "python"
b = "안녕하세요?????"

In [ ]:
# 위치확인 - find
# 없으면 -1 값 반환

#### index()
- `.index()` 함수는 해당 글자의 위치를 확인해준다.\
find()와 마찬가지로 문자a가 처음 나온 위치를 반환한다.
찾는 문자나 문자열이 존재하지 않는다면 오류를 반환한다.(find()함수와의 차이점)

In [ ]:
a.index('안녕')

#### join()

`.join()` 함수는 문자열을 특정 글자로 합쳐준다.

```python
','.join('abcd')  # 'abcd' 사이에 쉼표를 추가
```

```
'a,b,c,d'
```

In [ ]:
','.join('abcd')

In [ ]:
'!!!!!!'.join('안녕')

리스트에도 적용할 수 있음

In [ ]:
'xyz'.join(['안녕','??','만나서','반가워'])

#### capitalize(), upper(), lower()
-
영문의 경우, 문자열을 대소문자로 바꾸는 함수들을 사용할 수 있다.

`.capitalize()` 함수는 문장의 첫 글자를 대문자로 바꾼다.

In [ ]:
'hello world'.capitalize()

In [ ]:
x = "hello"
x.upper()

In [ ]:
'HeLLO woRlD'.lower()

#### replace()
- `.replace()` 함수는 특정 글자를 다른 글자로 바꿔준다.

In [ ]:
'안녕 하세요 ?????'.replace('?', '!')  # 문자열 중간의 띄어쓰기 교체

In [ ]:
x = '안녕 하세요 ?????'

In [ ]:
# replace 함수 - 문자열 치환
x = '안녕 하세요 ?????'

#### split()

`.split()` 함수는 특정 글자로 문자열을 나누고 리스트 형태로 출력한다.
- '특정 글자'는 쪼개고 나서 사라짐
- 특정 글자가 없으면 자동으로 '공백'을 기준으로 사용
- 문자열이 쪼개진 후 결과는 리스트 형태로 반환
```python
'사과,오렌지,포도,딸기'.split(',')  # 쉼표를 기준으로 문자열 분리
```

```
['사과', '오렌지', '포도', '딸기']
```

In [ ]:
'사과,오렌지,포도,딸기'.split(',')

In [ ]:
x = '안녕 하세요 ?????'

#### reversed()
문자열을 거꾸로 정렬한다. `join` 함수와 함께 사용한다

In [ ]:
# reversed 함수로 쉽게 값을 뒤집을 수 있음
인사 = 'Hello World! Nice to meet you'
a = "python"
b = "안녕하세요?????"

In [ ]:
reversed(인사)

In [ ]:
''.join(reversed(인사))

#### startswith, endswith()
- `.startswith()` 함수는 문자열이 해당 글자로 시작하는지 확인해준다.

In [ ]:
# 문자열이 '안녕'으로 시작하는지 확인

'안녕하세요?'.startswith('안녕')

In [ ]:
# 문자열이 '완료'로 끝나는지 확인

In [ ]:
b = "안녕하세요?????"

#### in, not in
`in`을 사용해 문자열 안에 해당 글자가 포함되었는지 확인할 수 있다.

```python
'사과' in '오늘의 메뉴는 밥, 미역국, 사과입니다.'  # '사과'가 문자열에 포함되었는지 확인
```

```
True
```



`not in`을 사용해 반대로 해당 글자가 없는지 확인할 수 있다.

```python
'사과' not in '오늘의 메뉴는 밥, 미역국, 사과입니다.'  # '사과'가 문자열에 없는지 확인
```

```
False
```

In [ ]:
'사과' in '오늘의 메뉴는 밥, 미역국, 사과입니다.'  # '사과'가 문자열에 포함되었는지 확인

In [ ]:
'사과' not in '오늘의 메뉴는 밥, 미역국, 사과입니다.'  # '사과'가 문자열에 없는지 확인

---
### 문자열 인덱싱/슬라이싱

#### 1. 인덱싱
인덱싱(indexing) = 가리킴


다음과 같은 문자열이 있을 때,

"Life is short"

이 문자열의 각 문자마다 번호(index)를 매겨보면 다음과 같다.

|L|i|f|e| |i|s| |s|h|o|r|t|
|-|-|-|-|-|-|-|-|-|-|-|-|-:|
|0|1|2|3|4|5|6|7|8|9|10|11|12|

파이썬은 숫자 0부터 숫자를 센다.

- 문자열 인덱싱하기

문자열을 인덱싱하는 방법은 변수+[번호]를 입력

In [ ]:
a = "Life is short"
print(a, len(a))

- 뒤에서부터 값을 추출가능
- 뒤에서의 추출순서는 "-1"부터 시작함

In [ ]:
파이썬 = 'python'

#### 2. 슬라이싱

슬라이싱(slicing) = 잘라냄

슬라이싱은 변수[시작번호:끝번호] 로 한다.

여기서 끝 번호에 해당하는 인자값은 포함하지 않는다. half-open interval이라고도 불린다.


|L|i|f|e| |i|s| |s|h|o|r|t|
|-|-|-|-|-|-|-|-|-|-|-|-|-:|
|0|1|2|3|4|5|6|7|8|9|10|11|12|

a[0:3]을 수식으로 나타내면 다음과 같다.

```
0 <= a <3

```

이 수식을 만족하는 a의 인자값은 a[0], a[1], a[2]이고, a[0:3]은 'Lif'가, a[0:4]은 'Life'가 된다.

** 공백 역시 문자열이므로 인덱싱 및 슬라이싱의 대상이 된다

a. 끝번호 생략하여 끝까지 슬라이싱

In [ ]:
# 여러개의 문자열을 선택할 때는 범위로 입력하되 [시작인텍스 이상:끝인덱스 미만] 형식
# 끝인덱스는 포함되지 않음

# Life 단어 출력
a = "Life is short"

In [ ]:
# is 단어 출력

b. 시작번호 생략하여 처음부터 슬라이싱

In [ ]:
a[0:4]

c. 문자열의 처음부터 끝까지 슬라이싱

In [ ]:
# 시작인덱스와 끝인덱스를 생략하면 자동으로 시작이나 끝까지 임을 인식함

d. 슬라이싱도 인덱싱과 마찬가지로 마이너스(-) 기호 사용가능

In [ ]:
a[::-2]

In [ ]:
a[0:-1:-2]  # 0, -2, -4, -6 .... -1...

e. step 값: 등차수열과 같은 기능

In [ ]:
# step값

---
### 실습문제

문제 1

파일명을 설정하는데 날짜와 파일의 이름을 다음과 같이 합쳐버렸다.

슬라이싱을 이용하여 날짜(20250101), 파일유형(보고서), 버전(ver2.3) 으로 구분하여 각각 새 변수에 저장하시오.

파일명 = "20250101_보고서_ver2.3_진짜최종"

In [ ]:
파일명 = "20250101_보고서_ver2.3_진짜최종"

문제 2

1) A의 주민등록번호는 990101-1234123 이다. 주민번호를 연월일(YYMMDD) 부분과 뒤 나머지 부분으로 나누어 출력. (함수사용)

2) A의 주민등록번호에서 `성별을 나타내는 숫자`의 인덱스를 출력. (함수사용)

3) A의 주민등록번호 뒷자리를 '1234123' 이 아니라 '3234123'으로 바꾸어 출력. (함수사용)

In [ ]:
주민등록번호 = '990101-1234123'
주민등록번호.split('-')

3. 다음 문장을 백슬래시를 사용하여 출력해보세요

(1) My friend's brother said "hi" to me.<br>
(2) 파이썬은 영어로 'python' 입니다.

In [ ]:
# 3-1

In [ ]:
# 3-2

---

# 자료구조

**연속형 데이터형식 Sequential Data types**
- 하나의 변수가 하나의 데이터를 가지고 있던 숫자형 데이터와 달리, 여러개의 데이터를 하나의 변수에 가지고 있는 데이터 타입.
- 연속형 데이터형식의 종류: 리스트(List), 튜플(Tuple), 문자열(String).
    - 문자열은 문자들의 나열로 인식하기 때문에 연속형 데이터에 해당한다.
- 연속형 데이터의 크기 제한은 없으나 컴퓨터의 가용 메모리 용량을 고려하여 사용한다.

## 리스트 list
- **리스트(list)**는 값을 순서대로 저장하는 자료구조다.

여러 개의 값을 하나로 모아서 다룰 때 사용한다.

가장 많이 사용되는 연속형 데이터형식으로, 대부분의 데이터를 편하게 다룰 수 있다.

- 파이썬에서 list는 대괄호 **<kbd>[</kbd>   <kbd>]</kbd>** 를 이용하여 표현한다.
```python
    [1, 2, 3, 4, 5]
    mylist = ['사과', 100, '키위', '200']
    even = [2, 4, 6]
    odd = [1, 3, 5]
```
- 리스트의 요소/원소/element 는 쉼표(,) 로 구분한다.
- 리스트의 요소/원소/element 는 모든 데이터형식이 가능하며, **리스트 자체를 element**로 가질 수 있다.
```python
    mylist = [[1, 2, 3], '번호', ['가', '나']]
```
- 리스트로 대부분의 데이터를 다룰 수 있으나 **수정/변형이 자유**롭기 때문에 수정이 필요하지 않는 경우에는 뒤에 나올 튜플(tuple) 을 사용한다.

### 1. 리스트 만들기

In [ ]:
# 빈 리스트 만드는 방법1
a = list()
print(a)

In [ ]:
# 빈 리스트 만드는 방법2

In [ ]:
# 자료형 확인

In [ ]:
# 숫자형요소로 구성된 리스트
x = [1, 2, 3, 4]

In [ ]:
#숫자와 문자형요소 혼합
y = ['일', '이', 3, 4]

In [ ]:
#리스트를 리스트를 요소로 가질 수 있다
x = [1, 2, 3, 4]
y = ['일', '이', [3, 4]]
z = [10, 20, x, []]

In [ ]:
# 출력

In [ ]:
# 리스트에서 + 연산자 사용
# TypeError: can only concatenate list (not "tuple") to list
'안녕' + '하세요'
x + y
y + x

### 2. 리스트 인덱싱 (List Indexing)

리스트 안에 있는 값을 선택하고 싶을 때는 **인덱싱(indexing)**을 사용한다. 인덱스는 0부터 시작한다.

리스트도 문자열처럼 인덱싱과 슬라이싱이 가능하다.

- **인덱스(Index):** `데이터 값의 순서`를 의미하고 Python에선 **0부터 순서가 시작한다.** (1부터가 아님에 유의!)

- **인덱싱(Indexing):** `인덱스`를 사용하여 `데이터의 값을 불러오는 것`

- **슬라이싱(Slicing):** 특정 인덱스가 아니라 `일정 인덱스 범위의 값을 불러오는 것`

```python
x = ['a', 'b', 'c', 'd', 'e']
```

```python
x[0]  # x의 첫 값
```

```
'a'
```

```python
x[1]  # x의 두번째 값
```

```
'b'
```

뒤에서부터 셀 때는 마이너스 인덱스를 사용한다. -1은 뒤에서 첫번째라는 뜻이다.

```python
x[-1]  # x의 뒤에서 첫 값
```

```
'e'
```

In [ ]:
mylist = [[1, 2, 3], '번호', ['가', '나'], 40, 50]

In [ ]:
len(mylist)  # 0번 ~ 4번까지

In [ ]:
# 0번index

In [ ]:
# 0번index가 리스트이므로, 다시 인덱싱을 할 수 있음

In [ ]:
# 마지막 값 - 음수인덱스 사용

In [ ]:
# 마지막 값 자료형 확인

In [ ]:
# 요소별 연산 - 자료형에 주의

### 3. 리스트 슬라이싱 (List Slicing)
- 리스트도 문자열처럼 인덱싱과 슬라이싱이 가능하다.
- **슬라이싱(Slicing):** 특정 인덱스가 아닌 `일정 인덱스 범위의 값을 불러오는 것`

[시작 인덱스 :끝 인덱스 : 간격 step값]

슬라이싱은 `시작 인덱스:끝 인덱스` 형식을 사용하는데, 시작 인덱스의 값은 포함하지만 끝 인덱스의 값은 포함하지 않는다.

간격에 음수를 사용하면 결과가 역순이 된다. 리스트의 순서를 뒤집고 싶을때는, `[::-1]` 을 사용한다.

```python
x = ['a', 'b', 'c', 'd', 'e']

x[::-1]  # 리스트의 순서 뒤집기
```

```
['e', 'd', 'c', 'b', 'a']
```

In [ ]:
mylist = [10, 20, 30, '40', '50', '60']

In [ ]:
# 시작값=0, 끝값=3인 경우

In [ ]:
# 시작값=3, 끝값=6인 경우

In [ ]:
# 시작값과 끝값이 공백일 경우

In [ ]:
# 시작값, 끝값, 스텝값이 공백일 경우

In [ ]:
# 시작값과 끝값 공백, 스텝값=2인 경우

### 4. 다중 리스트 (Multiple List)

리스트 안의 요소 추출

리스트 안의 일부 문자만 뽑고 싶을때 인덱싱하는 방법

``` python

리스트명[해당sublist인덱스][해당요소인덱스]
mylist[0][0]

```

In [ ]:
w = [1, 3, 5]
x = ['2', '넷', '여섯']
y = [0, [10, 20, 30], '삼십']

In [ ]:
z = x + y
z

### 5. 리스트의 메소드 (Methods) 요소추가/제거/정렬 등
- **리스트이름.append(a)**: 리스트 뒤에 추가 (일반적으로 많이 사용함)

- **리스트이름.insert()** : 특정 인덱스 위치에 추가
: a번째 위치에 b를 추가하는건 insert(a,b) 사용

- **리스트이름.extend()**
: append는 값의 추가이며 extend는 리스트 확장
```python
리스트이름[요소번호].extend([1, 2, 3])
```
- **리스트이름.remove()**
: 특정 요소 제거 (동일 요소가 여러 개일 경우 처음 것만 제거)

- **리스트이름.pop(index)** : 특정index 위치의 요소 제거
```python
리스트이름.remove(제거할 요소)
리스트이름.pop(1) #1번 인덱스 위치의 요소제거
del 제거할변수명  #변수가 제거된다(리스트 이외의 모든 변수에 적용 가능/신중히 사용할 것)
```

- **리스트이름.sort()**
: 정렬

- **리스트이름.reverse()**
: 역순으로 나열

- **리스트이름.index()**
: 위치반환

- **리스트이름.count(a)**
: 특정값(a) 세기

- **list(range( ))** 를 통해서 **range()** 함수로 생성한 값을 리스트에 넣을 수 있다.

- 리스트가 **숫자형** 으로 이루어진 경우, 숫자계산하는 파이썬 내장함수 사용가능.
    - **len(), min(), max(), sum(), any(0이 하나라도 있는가)**

요소의 위치반환 .index()

- 요소가 여러 개일 경우 최초 값 기준

- 요소가 없을 경우 ValueError
```python
ValueError: [] is not in list
```

In [ ]:
# 위치 반환 .index
mylist = [10, 20, 20, 30, 30, '30']

특정 요소 값의 개수 세기 .count()
- 요소가 없을 경우 **0** 이 출력된다.

In [ ]:
# 특정 값의 개수 세기 .count()
mylist = [10, 20, 20, 30, 30, '30']

In [ ]:
# 숫자형으로만 이루어진 리스트는 숫자계산 가능
mylist3 = [0, 10, 30.5, 50, 70.77, 90]
print(len(mylist3))
print(min(mylist3))
print(max(mylist3))
print(sum(mylist3))
print(any(mylist3))

리스트이름.append() : 요소 추가

In [ ]:
fruits = []
fruits.append('딸기')
fruits

.append() 를 이용해서 여러 개의 값을 추가하고 싶을 경우
- TypeError: list.append() takes exactly one argument

In [ ]:
fruits = ['사과', '배']

In [ ]:
# 여러개의 값을 추가하고 싶을 경우?
# AttributeError: 'NoneType' object has no attribute 'append'

In [ ]:
# append는 개별 요소의 추가이며 extend는 리스트 확장(여러 값)
fruits.append([10, 20, 30, 40])
fruits

리스트이름.insert(a, b)
- a번요소자리에, b값을 넣는다

In [ ]:
mylist = [[1, 3], ['둘', '넷'], 20, 30]

In [ ]:
# a번 위치에 b를 추가하는건 insert(a,b) 사용
mylist.insert(1, '1번위치')
mylist

리스트이름.sort(): 정렬하기

In [ ]:
# 정렬하기 .sort()
# 같은 유형의 값으로만 들어있어야 비교가 가능하고 정렬이 됨
# TypeError: '<' not supported between instances of 'int' and 'str'
mylist = [70, 90, 50, 30]
mylist2 = [100, 50, '가', '나']

In [ ]:
mylist.sort()
mylist

In [ ]:
mylist2.sort()
mylist2

In [ ]:
mylist3 = ['다', '라', '가', '나']
mylist3.sort()
mylist3

리스트이름.reverse() : 역순정렬

In [ ]:
# 역순정렬 .reverse()
mylist = [70, 90, 50, 30]

리스트이름.remove(): 특정 요소값 제거

In [ ]:
# 값의 삭제 .remove()
# 여러 개일 경우 맨 처음 나오는 한개만 삭제
mylist = [10, '10', 10, 20, 20, '20', 30]
mylist

In [ ]:
mylist.remove(10)
mylist

리스트이름.pop() : 인덱스 번호로 하나의 값 제거

In [ ]:
# pop() 인덱스 번호로 제거가능
mylist = [10, '10', 10, 20, 20, '20', 30]

In [ ]:
mylist.pop(1)
mylist

In [ ]:
# 마지막 값 제거

리스트에서 값 제거

`del` 함수는 슬라이싱과 인덱싱을 사용해 제거가 가능하다.

del 변수명 : 리스트만이 아니라 모든 변수 자체를 제거

In [ ]:
mylist = [10, '10', 10, 20, 20, '20', 30]

In [ ]:
del mylist[-1] # 마지막 값 제거 mylist.pop(-1)
mylist

In [ ]:
# 첫 두개의 값 제거
del mylist[0:2] #0, 1번 제거
mylist

In [ ]:
# 변수 자체 제거

### 6. 리스트 함축 list comprehension

여러 줄의 코드를 간단히 나타낼 수 있어서 자주 사용된다.

`for` 문을 사용해, `list`를 여러 방법으로 만들 수 있다.

먼저, 빈리스트를 생성한 후에, `for` 문을 통해 빈 리스트에 값을 `append` 하는 방식이 있다.

```python
list_item = []
for item in range(1, 6):
  list_item.append(item)
```
```python
list_item
```

```
[1, 2, 3, 4, 5]
```



이외에도, list comprehension 을 사용해 같은 코드를 작성할 수 있다.

list comprehension 은 리스트 안에 한 줄로 `for` 문을 작성하는 것을 뜻한다.

리스트 안에 가장 처음 들어갈 내용은, `for` 문 마다 리스트에 넣을 항목이 들어간다.

```python
[item for item in range(1, 6)]
```

```
[1, 2, 3, 4, 5]
```

위의 코드와 동일한 결과를 가진다.

이렇게 작성을 하면, 코드를 간소화 시킬 수 있다는 장점이 있다.

In [ ]:
# 리스트 [1,2,3] 의 모든 정수에 대하여 제곱값을 구하려면?
# 조건문 - for문
xsquare = []
for x in [1, 2, 3]:
    xsquare.append(x ** 2)
    print(xsquare)

In [ ]:
# 위 코드를 한 줄로 표현 가능

In [ ]:
# 0부터 4까지 0, 1, 2, 3, 4 출력
# range 함수로 가능

- 대문자, 소문자 변환

In [ ]:
fruits = ['apple','Pineapple','BANANA']
# upper
[x.upper() for x in fruits ]

In [ ]:
# lower
[x.lower() for x in fruits]

- 리스트 각 원소의 첫번째 글자만 추출

In [ ]:
[x[0] for x in fruits]

### 실습문제

1. 아래와 같이 리스트 안에 리스트가 있는 형태의 리스트 변수가 있을 때,
리스트 인덱싱을 활용하여 mylist03 이라는 리스트 변수의 1번째(0번요소), 2번째, 3번째 값을 출력하세요.


    mylist03 = [1, 2, 3, ['my','name','길동']]

In [ ]:
mylist03 = [1, 2, 3, ['my','name','길동']]

2.리스트 인덱싱을 활용하여 mylist03 이라는 리스트 변수에서 **'name'** 만 출력해보세요.

3. 리스트 인덱싱을 활용하여 다음 리스트에서 **5511** 만 출력해보세요.

    ['종로구', ['2호선', '3호선', '4호선', '5호선'], ['bus', [5511, 5516]], 100]

In [ ]:
mylist04 = ['종로구', ['2호선', '3호선', '4호선', '5호선'], ['bus', [5511, 5516]], 100]

4. 리스트 슬라이싱을 활용하여 다음 리스트에서 **'3호선', '4호선', '5호선'** 을 출력해보세요.

    ['종로구', ['2호선', '3호선', '4호선', '5호선'], ['bus', [5511, 5516]], 100]

In [ ]:
mylist04 = ['종로구', ['2호선', '3호선', '4호선', '5호선'], ['bus', [5511, 5516]], 100]

5. 리스트 슬라이싱을 활용하여 다음 리스트에서 **'2호선, 5호선'** 을 출력해보세요.


    ['종로구', ['2호선', '3호선', '4호선', '5호선'], ['bus', [5511, 5516]], 100]

In [ ]:
mylist04 = ['종로구', ['2호선', '3호선', '4호선', '5호선'], ['bus', [5511, 5516]], 100]

---
# 튜플 Tuple


튜플은 위치마다 정해진 의미가 있는 경우에 사용된다. 만약 평면상에서 좌표를 두 개의 수로 나타낸다고 해보자. 이 경우 0번 값은 가로 좌표, 1번 값은 세로 좌표와 같은 식으로 정해진 의미를 가진다. 여기에 값을 추가하거나 뺄 필요가 없기 때문에 이 경우엔 튜플을 쓴다.

만약 좌표를 리스트로 나타낼 수도 있다. 하지만 프로그램이 복잡해지면  리스트는 실수로 여기에 값을 추가하거나 뺄 수도 있다. 그러면 이 좌표에 가로와 세로 좌표가 모두 들어있을지 아니면 가로 좌표만 있을지 또는 가로와 세로 외에 다른 무엇이 들어있을지 장담할 수가 없게 된다.

튜플은 형태가 고정되어 있기 때문에 좀 더 안심하고 쓸 수 있다. 또한 추가/삭제/수정 등에 대비할 필요가 없기 때문에 리스트보다 약간 더 효율적인 내부 구조를 가지고 있다.

튜플은 값의 생성/삭제/수정이 불가하지만 그외 기능은 리스트와 동일하다. 인덱스/인덱싱/슬라이싱/연산 등은 모두 가능하다.


## 튜플 만드는 법

튜플은 값들을 소괄호 `( )`로 감싼다.

```python
()    # 빈 튜플
('a',)    # 값이 1개인 튜플
('a', 'b', 'c')  # 값이 3개인 튜플
```

### 튜플의 인덱싱과 슬라이싱

튜플의 인덱싱과 슬라이싱은 리스트와 같다.

```python
x = (1, 2, 3)
x[0]  # 첫번째 값 선택
```

```
1
```

슬라이싱을 할 경우, 값이 튜플로 반환된다.

```python
x[0:2]  # 첫 두 값 선택
```

```
(1, 2)
```



## 합치기 & 반복하기

튜플 역시 더하기로 합치거나

```python
y = (4, 5, 6)
```

```python
x + y  # 두 튜플 합치기
```

```
(1, 2, 3, 4, 5, 6)
```

곱하기로 반복할 수 있다.

```python
x * 3  # 세번 반복하기
```

```
(1, 2, 3, 1, 2, 3, 1, 2, 3)
```



## 수정하기

튜플의 값을 수정하려 시도하면, `TypeError`가 발생한다.

```python
x[0] = 'a'  # 첫 값을 'a'로 수정
```

```
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
TypeError: 'tuple' object does not support item assignment

```



튜플의 값을 변경하고 싶다면, 튜플을 리스트로 바꾼 후, 다시 튜플로 만드는것도 한 방법이다.

```python
x = list(x)  # 튜플을 리스트로 변환
```

```python
x[0] = 'a'  # 원하는 값 수정
x  
```

```
['a', 2, 3]
```



```python
x = tuple(x)  # 리스트를 다시 튜플로 변환
```

```
('a', 2, 3)
```

In [ ]:
(1, 2, 3), type((1, 2, 3))

In [ ]:
list()
tuple()

`tuple` 함수에 다른 값을 넣으면 튜플로 변환한다. 예를 들어 리스트를 `tuple` 함수에 넣으면 튜플로 바뀐다.

In [ ]:
tuple([1, 2, 3])

### 튜플의 인덱싱과 슬라이싱

튜플의 인덱싱과 슬라이싱은 리스트와 같다.

```python
x = (1, 2, 3)
x[0]  # 첫번째 값 선택
```

```
1
```

슬라이싱을 할 경우, 값이 튜플로 반환된다.

```python
x[0:2]  # 첫 두 값 선택
```

```
(1, 2)
```



## 합치기 & 반복하기

튜플 역시 더하기로 합치거나

```python
y = (4, 5, 6)
```

```python
x + y  # 두 튜플 합치기
```

```
(1, 2, 3, 4, 5, 6)
```

곱하기로 반복할 수 있다.

```python
x * 3  # 세번 반복하기
```

```
(1, 2, 3, 1, 2, 3, 1, 2, 3)
```



## 수정하기

튜플의 값을 수정하려 시도하면, `TypeError`가 발생한다.

```python
x[0] = 'a'  # 첫 값을 'a'로 수정
```

```
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
TypeError: 'tuple' object does not support item assignment

```



튜플의 값을 변경하고 싶다면, 튜플을 리스트로 바꾼 후, 다시 튜플로 만드는것도 한 방법이다.

```python
x = list(x)  # 튜플을 리스트로 변환
```

```python
x[0] = 'a'  # 원하는 값 수정
x  
```

```
['a', 2, 3]
```



```python
x = tuple(x)  # 리스트를 다시 튜플로 변환
```

```
('a', 2, 3)
```

### 1. Tuple 생성
- 요소가 1개인 튜플 생성시, 콤마(,) 를 설정해주어야 한다.

In [ ]:
t1 = () #비어있는 튜플

In [ ]:
print(t1)
type(t1)

In [ ]:
tuple()

`tuple` 함수에 다른 값을 넣으면 튜플로 변환한다. 예를 들어 리스트를 `tuple` 함수에 넣으면 튜플로 바뀐다.

In [ ]:
tuple([1, 2, 3])

In [ ]:
list([1,2,3])

숫자 1개만 튜플로 만들때는 쉼표(,)를 붙여야 한다

In [ ]:
# 숫자 1개만 튜플로 만들때는 쉼표(,)를 붙여야 한다
a = 10
b = (20)
print(a, b, type(a), type(b))

In [ ]:
a = 10
b = (20, )
print(a, b, type(a), type(b))

In [ ]:
c = (10, 20, 30)
print(c, type(c))

In [ ]:
# 요소 여러 개가 있을 경우 괄호생략 가능

In [ ]:
# 리스트처럼 튜플도 튜플을 요소값으로 가질 수 있음

In [ ]:
# 문자 숫자 결합된 튜플 가능

In [ ]:
# 튜플의 길이 출력

### Tuple 요소 추가/변경/삭제 등

a. Tuple의 특정 요소를 삭제할 수 없다.
- 삭제하려할 경우
TypeError: 'tuple' object doesn't support item deletion

In [ ]:
weekend = ('Saturday', 'Sunday', 'Monday')
주말 = ['Saturday', 'Sunday']

In [ ]:
print(type(weekend), type(주말))

In [ ]:
주말 = ['Saturday', 'Sunday']
주말.append('금요일')

In [ ]:
# TypeError: 'tuple' object doesn't support item deletion

b. Tuple의 특정 요소를 대체할 수 없다.

- TypeError: 'tuple' object does not support item assignment

In [ ]:
# 리스트의 경우 인덱싱이 가능하지만 tuple 불가능
리스트 = ['Saturday', 'Sunday', 'Monday']
리스트[0] = '토요일'
리스트

In [ ]:
weekend = ('Saturday', 'Sunday', 'Monday')
weekend

---
# 딕셔너리 dictionary
**사전(dictionary)**은 키(key)와 그에 대응하는 값을 짝지워놓은 자료 구조다. 사전이 단어에 해당하는 뜻을 찾기 위한 책인 것을 생각해보면 이런 이름이 붙은 이유를 짐작할 수 있을 것이다.

사전은 키와 값을 콜론(`:`)으로 짝짓고, 이들을 중괄호(`{}`)로 감싸서 표시한다.

```python
fruit = {
    '사과': 10,
    '딸기': 20,
}
```

사전을 키로 인덱싱 하면, 그에 대응하는 값을 돌려받을 수 있다.

```python
fruit['사과']
```

```
10
```

기존의 값을 덮어 쓸 수도 있다.

```python
fruit['사과'] = 100
```

```python
fruit['사과']
```

```
100
```

사전에서는 키가 중복될 경우 먼저 나온 키는 무시한다.

```python
repeated_dict = {'a': 1, 'a': 5, 'b': 10}  # key에 'a'가 두개
repeated_dict['a']
```

```
5
```

사전의 키에는 숫자, 문자, 튜플 등 불변(immutable)인 값만 넣을 수 있다. 리스트처럼 가변(mutable)적인 값은 키로 사용할 수 없다.

```python
fruit[[1]]
```

```
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
TypeError: unhashable type: 'list'
```

- 사전은 **`Key:Value`**의 대응관계로 나타나는 자료형이다.
    - 대응관계 자료형을 연관배열 (Associative arry) 또는 해시(Hash)라고도 부른다.
- 짝으로 이루어진 값을 표현할 때 사용한다.

- **중괄호 `{ }`** 로 값을 묶어서 형태를 구분


### 1. 딕셔너리의 특징

- 값은 따옴표 **`Key:Value`** 를 기준으로 키(Key)와 자료(Value)를 묶어서 생성
- **Key:** 왼쪽에 있는 키는 데이터의 **`열쇠`** 와 같은 기능
> - Key는 변할수 없도록 지정하고 있어서, 변하지 않는 자료형만 사용이 가능
> - 리스트는 사용 불가하지만 튜플을 사용 가능
- **Value:** 오른쪽에 있는 값은 **`Key`** 로 꺼낼수 있는 지정된 자료
> - Key 값이 같은 Value가 2개 이상 있으면 마지막 Value만 Key에 대응되어 저장

In [ ]:
mydict = {} #비어있는 dictionary
mydict = dict()
mydict

- 딕셔너리의 각 항목item이 쉼표로 구분되어서 출력된다.
- 먼저 Key값이 표시되고, 콜론: 다음에 Value값이 표현된다.
- 작은따옴표는 키와 값이 모두 문자열이기 때문에 붙는다.

In [ ]:
#여러가지자료형의 key-value
mydict = {999:'첫번째', 1.01:'apple', '2':'ball', 3:300, 4:'400'}
mydict

In [ ]:
#리스트형 value - 가능
mydict = {'키':[1,2,3,4], 'key':['apple',300,'400']}
mydict

In [ ]:
#리스트형 key - 불가능
# TypeError: unhashable type: 'list'
mydict = {'키':[1,2,3,4], [2, 3]:['apple', 'banana']}
mydict

In [ ]:
# 복잡한 딕셔너리의 경우 key-value 기준으로 한 줄 띄어쓰기를 한다
mydict = {'이름':'홍길동',
          '전화번호': '010-1234-1234',
          '메일':'123@naver.com'}
mydict

In [ ]:
# 특정 key 에 해당하는 value 출력

In [ ]:
# 특정 key 에 해당하는 value 출력

- .update() : 2개 딕셔너리를 합친다.

In [ ]:
d1 = {'MSFT': '500', 'AAPL': 200}
d2 = {'GOOG': 150, 'NVDA': 100}

- dict(mydict1, **mydict2) : 새로운 딕셔너리에 병합

- 딕셔너리 병합시 중복된 키가 있을 경우?
- 나중에 업데이트되는  key의 value로 변경된다.

In [ ]:
d1 = {'MSFT':'500', 'AAPL': '200'}
d2 = {'GOOG': 150, 'NVDA': 100}
d3 = {'NVDA': '200', 'MSFT':400}

### 3. 요소(key:value) 추가/삭제

In [ ]:
d1 = {'NVDA': '200', 'MSFT':400}

In [ ]:
# Key:GOOG, Value:200

In [ ]:
# Key:INTC, Value:20

In [ ]:
# Key:TSLA, Value:50

In [ ]:
# 동일한 key가 2개 존재할 경우 이전 입력값은 덮어씌워진다
# Key: NVDA, Value:'buy'

- `items, keys, values()`
- 데이터를 다룰 때 주로 list로 변환해서 사용한다.

In [ ]:
d1 = {'MSFT': '500', 'AAPL': '200', 'TSLA': 50, 'NVDA': 'buy'}

In [ ]:
# key-value의 쌍 출력

In [ ]:
# key값 출력

In [ ]:
# value값 출력

---
get()
- `dict.get('key')`는 앞서 보았던 딕셔너리이름['key']와 동일한 기능을 한다.

In [ ]:
d1 = {'MSFT': '500', 'AAPL': '200', 'TSLA': 50, 'NVDA': 'buy'}

In [ ]:
d1['AAPL']

In [ ]:
d1.get('AAPL')

---
in 함수

In [ ]:
d1 = {'MSFT': '500', 'AAPL': '200', 'TSLA': 50, 'NVDA': 'buy'}

In [ ]:
#앞서 정의한 dictionary에 'key이름'이 있는지 확인함
#맞는 key를 찾을 경우 True가 나옴

In [ ]:
#없는 key를 찾을 경우, False가 나옴

---
딕셔너리 제거

- clear(): 전체 딕셔너리 key-value 쌍 삭제(딕셔너리 변수 자체는 비어있는 변수로 남아있음)

In [ ]:
d1 = {'MSFT': '500', 'AAPL': '200', 'TSLA': 50, 'NVDA': 'buy'}
d1

In [ ]:
d1.clear()
d1

- del : 변수 자체 제거도 가능, 딕셔너리[키값] 사용하여 특정 쌍 제거 가능

In [ ]:
# key값으로 제거 - del 사용
d1 = {'MSFT': '500', 'AAPL': '200', 'AMZN': '150'}

In [ ]:
# 제거되었는지 확인

### 실습문제

1. 아래와 같은 mydict 라는 딕셔너리가 있을 때, 한 쌍의 key-value 값을 추가하세요. (key와 value의 값은 자유롭게 생성)

2. key이름이 '2'인 key:value 한 쌍을 출력하세요.  

3. key이름이 '2'인 key:value 한 쌍을 지우세요.

4. key만 출력하세요.

5. value만 출력하세요.

6. key 들을 list 형태로 바꾼 후 출력하세요.

In [ ]:
mydict = {'1':'111',
          '2':200,
          '3':300,
          '4':[4, 40]}
mydict

---
# 집합/셋 set
- **집합(set)**은 수학의 집합과 같은 용도로 사용한다. 집합은 반복되는 값을 허용하지 않으며, 순서 또한 보존하지 않는다.
- 순서에 얽매이지 않으며 집합에 관련된 자료를 쉽게 처리하기 위해 만들어졌다.

## 만드는 법

집합은 **중괄호(`{}`)**로 값을 감싸 만든다. 사전과 비슷하지만 키와 값의 짝이 없다는 점이 다르다.

```python
x = {'사과', '포도', '바나나'}
x
```

```
{'사과', '포도', '바나나'}
```



`set` 함수에 다른 값을 넣으면 집합으로 변환된다. 만약 겹치는 항목이 집합에 들어있다면, 반복되는 항목은 제거된다.

```python
set(['사과', '사과', '포도', '바나나', '바나나', '사과'])  
```

```
{'바나나', '사과', '포도'}
```

사전을 `set`에 넘기면 키의 집합으로 변환된다.

## 길이

집합에도 `len` 함수를 사용할 수 있다.

```python
len(x)
```

```
3
```



## 추가 및 삭제

집합에 값을 추가하고 싶다면 `.add()`를 사용한다.

```python
x.add('오렌지')  # 집합에 '오렌지' 추가
x
```

```
{'바나나', '사과', '오렌지', '포도'}
```



하나 이상의 값은 `.update()`를 사용한다.

```python
x.update(['수박', '딸기'])  # 집합에 '수박', '딸기' 추가
x
```

```
{'딸기', '바나나', '사과', '수박', '오렌지', '포도'}
```



값을 제거하고 싶을때는 `.remove()`를 사용한다.

```python
x.remove('딸기')  # '딸기' 제거
```

```
{'바나나', '사과', '수박', '오렌지', '포도'}
```

딸기가 제거되었다.



`in` 으로 값이 집합에 있는지 확인할 수 있다.

```python
'바나나' in x
```

```
True
```





## 집합 연산

집합끼리 연산이 가능하다.

```python
a = {1, 2, 3}
b = {3, 4, 5}
```

### 합집합

두 집합 사이의 합집합은 `|` 으로 구한다.

```python
a | b
```

```
{1, 2, 3, 4, 5}
```



### 교집합

두 집합 사이의 교집합은 `&` 으로 구한다.

```python
a & b
```

```
{3}
```



### 차집합

두 집합 사이의 차집합은 `-` 으로 구한다.

```python
a - b
```

```
{1, 2}
```

In [ ]:
#다음과 같은 2개의 집합이 있을 때
set1 = {1,2,3,4,5}
set2 = {3,4,5,6,7}

1. 교집합

In [ ]:
set1 & set2 # 방법 1: &을 이용

In [ ]:
set1.intersection(set2) #방법 2: intersection()을 이용

2. 합집합

In [ ]:
set1 | set2 #방법 1: |을 이용, 윈도우의 경우 원화 기호로 나옴

In [ ]:
set1.union(set2) #방법 2: union()을 이용

3. 차집합

In [ ]:
set1 - set2 #방법1: - 을 이용

In [ ]:
set2 - set1

In [ ]:
set1.difference(set2) #difference()를 이용

### 4. Set 관련 함수들

다음은 set과 관련된 (내장)함수들이다.

```
add() : set에 값(요소) 1개 추가
update(): set 값(요소) 여러 개 추가
remove(): 특정 값(요소) 제거
```

In [ ]:
myset = {1,2,3,4,5}

1. add()

In [ ]:
myset.add(9)
myset

2.update()

In [ ]:
myset.update([10, 11])
myset

3.remove()

In [ ]:
myset.remove(10)
myset

---
😊 수고하셨습니다 😊