<a href="https://colab.research.google.com/github/Tom-Jung/testttttt/blob/main/02_%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EC%A1%B0%EA%B1%B4%EB%AC%B8%EA%B3%BC_%ED%95%A8%EC%88%98_(%EC%88%98%EC%97%85%EC%A0%84).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# range() 함수
- range([start], stop, [step]) 내장함수로 쉽게 `시퀀스(Sequence)` 생성 가능
- start와 step은 생략 가능하며 start는 0, step은 1이 고정값

In [ ]:
range(0, 10, 2)  # 0, 2, 4, 6, 8

range(0, 10, 2)

In [ ]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [ ]:
tuple(range(0,10,2))

(0, 2, 4, 6, 8)

In [ ]:
# 0이상 10미만 리스트 생성
# 0 ~ 9 까지 연속된 정수 출력
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
list(range(2,10,3))

[2, 5, 8]

In [ ]:
# 0이상 10미만 튜플 생성

In [ ]:
list(range(10,-12,-3))

[10, 7, 4, 1, -2, -5, -8, -11]

---
# random() 함수

> `random(start, stop, step)`

- 임의의 수를 생성하거나 데이터 리스트 내의 요소를 무작위로 섞거나 선택하는 함수

- random.random() : 0이상 1미만의 임의의 실수를 반환
- random.randrange(10) : 0 이상 10 미만(10제외) 의 임의의 정수를 반환
- random.randint(1, 10) : 1이상 10이하(10 포함)의 임의의 정수를 반환
- random.randrange(1, 10) : 1이상 10미만(10제외)의 임의의 정수를 반환
- random.randrange(0, 10, 2) : 0, 2, 4, 6, 8 중 (10제외)임의의 정수 1개를 반환

- random.choice(리스트명) : 리스트의 원소 중 하나를 뽑음
- random.sample(range(1, 10), 2) : 1이상 10미만(10제외)의 임의의 정수 2개를 반환

In [ ]:
import random
random.random()

0.07741794497302523

In [ ]:
random.randrange(1, 10)

9

In [ ]:
mylist = [1, 2, 3, 4, 5]
random.sample(mylist, 3)

[1, 4, 5]

randrange()

In [ ]:
#randrange
random.randrange(10)

5

randint()

In [ ]:
#randint
random.randint(-10,10)

random.choice()

In [ ]:
mylist = [1, 2, 3, 4, 5]

random.sample()

In [ ]:
random.sample(range(1,5), 2)

## 실습문제
1. range 함수를 사용하여 아래와 같은 tuple 을 출력하세요.


    (5, 3, 1, -1, -3, -5, -7, -9)

2. range 함수를 사용하여 아래와 같은 list 를 출력하세요.


    [-900, -600, -300, 0, 300, 600]

3. 1부터 45까지의 숫자 중 임의의 숫자 5개를 출력하는 코드를 작성하고, 결과를 출력해보세요.

In [ ]:
숫자 =list(range(1,46))
random.sample(숫자,5)

[1, 13, 36, 45, 41]

-----
# if 문


- 순차 구조 : 여러 명령이 순차적으로 실행하는 구조
- 선택 구조 : 여러 개 중 하나의 명령문을 선택하여 실행하는 구조
- 반복 구조 : 동일한 명령이 반복되면서 실행하는 구조

## 1. syntax of if
- 조건문 : 조건식이 참(True)일 때에만 실행한다.
- 조건식 뒤에는 콜론(:)이 반드시 존재한다.
- 파이썬 인터프리터에게 이 문장에 딸린 코드 블록이 나타날 것임을 전달한다.
- 콜론 아래의 줄은 반드시 들여쓰기를 해야한다

if문은 다음과 같이 쓴다.

    if test_statement:
        execution1
        execution2
        ...

<img src = "https://cdn.programiz.com/sites/tutorial2program/files/Python_if_statement.jpg">

- 실행 논리 :
    - ```if```의 조건문인```test_statement```이 참인지 거짓인지를 평가한다. ```test_statement```이 참(```True```)일 때 ```if```문의 명령이 실행된다.
    - 만일, ```test_statement```이 ```False``` 일 경우, ```execution```은 실행되지 않는다.


표기 방법 및 주의 :

1. ```if``` 절 아래 들어가는 (```body```에 해당되는)내용들은 모두 indentation이 되어야한다. 파이썬은 들여쓰기에 민감하다. 얼마나 들여썼냐에 따라 조건문의 모습 뿐만 아니라 실행되는 순서도 모두 달라진다.  

2. 모든 if 문은 반드시 조건문 다음에 "```:```"을 붙인다.**

**들여쓰기**
- 파이썬의 들여쓰기(블록)은 4개의 공백으로 구성된다.

In [ ]:
if x > 1:
    print( x, '는 1보다 큽니다.')

100 는 1보다 큽니다.

In [ ]:
# x가 1보다 크면 'x는 1보다 큽니다'메세지 출력
x = 100

In [ ]:
# 점수 변수가 90점 이상이면 '합격' 출력
점수 = 50
if 점수 >= 90:
    print('합격')

In [ ]:
# 영어 & 수학 모두 70점 이상일 때 합격
영어 = 95
수학 = 90

if 영어 >=70 and 수학 >= 70:
    print('합격')

합격

## 2. if-else 문 (if-else statement)

- If-else : ‘조건이 참이면 이것을 실행, 거짓이면 저것을 실행’

```if``` 문 아래 조건을 추가하고 싶을 때 ```else```, ```elif``` 등을 쓴다.

```if...else``` 문은 아래와 같이 쓴다.

    if test_statement:
        execution x
    else:
        execution y

<img src = "https://cdn.programiz.com/sites/tutorial2program/files/Python_if_else_statement.jpg">

- 실행 논리 :

    - if ```test_statement``` 문이 ```True```일 때만 ```if```문에 해당되는 명령(```execution x```)이 실행된다.

    - 만일 if 문이 ```False```일 경우, else문의 명령(```execution y```)이 실행된다.

In [ ]:
# 점수가 90점 이상이면 합격, 90점 미만이면 불합격 처리
score = 99
if score>= 90:
    print('합격')
else:
    print('불합격')

합격

In [ ]:
# input() 함수 - 사용자입력 처리 가능
# 점수가 90점 이상이면 합격, 90점 미만이면 불합격 처리

변수 = input('텍스트를 입력하세요 :')

변수

텍스트를 입력하세요 :20

'20'

In [ ]:
score = float(input('텍스트를 입력하세요 :'))
if score>= 90:
    print('합격')
else:
    print('불합격')

텍스트를 입력하세요 :90
합격

In [ ]:
# 양의 정수가 있을 때, 홀수인지 짝수인지 출력
# 2로 나눴을때 나머지가 0 == 짝수
# 2로 나눴을때 나머지가 1 == 홀수
# 나눗셈의 나머지만 남기는 명령어 %
# 나눗셈의 몫만 남기는 명령어 //

 append() 함수 : 리스트에 요소 추가

In [ ]:
# 좋아하는 과일 이름 입력 후 if-else
fruits = []
message = input('좋아하는 과일을 입력하세요.')
fruits.append(message)
message = input('좋아하는 과일을 입력하세요.')
fruits.append(message)
fruits

랜덤 함수를 이용한 숫자 맞추기 게임
- 0~4 사이의 숫자 입력 (사용자입력) 과 랜덤함수의 숫자가 같을 때, 다를 때 출력 메세지설정

In [ ]:
import random
print('숫자 맞추기 게임')

### if-else 내부에 다시 if-else 문
- if-else 내부에 또다시 if-else 조건을 달아서 복잡한 조건을 설정할 수 있다.
- 이때, 들여쓰기로 블럭을 잘 맞추어야 한다.
- 들여쓰기를 제대로 안할 경우 오류 발생.

In [ ]:
# 1단계 : 0이 아닌 정수를 입력받아 음수/양수 판별
# 2단계 : 양수인 경우 짝수인지 홀수인지 판별
## 짝수인 경우 ‘짝수입니다’ 출력
## 홀수인 경우 ‘홀수입니다’ 출력

In [ ]:
# 코드 작성

## 3. if - elif - else 문 (if-elif-else statement)

- if-else문에서 조건이 거짓일 때 다른 조건을 검사할 수 있다.
- elif는 "else if" 를 합친 키워드.

```if..elif..else``` 문은 아래와 같이 쓴다.

    if test 1:
        execution x
    elif test n:
        body of elif
    elif test n+1:
        body of elif:
    elif test n+2:
        body of elif:
        ...
    ...
    else test 3:
        execution y

<img src = "https://cdn.programiz.com/sites/tutorial2program/files/Python_if_elif_else_statement.jpg">

- ```elif``` 는 'else if'의 줄임말이다. 여러개의 조건을 넣고싶을때 사용할 수 있는 조건문이다.

    - ```if```문의 조건이 ```False``` 일 경우, 다음 ```elif```문에 있는 조건을 확인한다.

    - 만약 모든 조건이 다 ```False``` 일 경우, ```else```문의 ```body of else```를 실행한다.

    - 각 조건문 (if, elif, else)는 하나의 조건문만 할당할 수 있다.

- **`if`문은 오직 하나의 `else` 문만 가질 수 있지만, 여러 개의 `elif`문을 가질 수 있다.**

In [ ]:
# 정수 입력이 들어왔을 때, 양수입니다, 0입니다, 음수입니다 를 출력
number = int(input('정수를 입력하세요 ...))

#### 실습문제
1. 나이를 정수로 입력받아 20세 이상이면 '어른', 10세 이상 20세 미만이면 '청소년', 10세 미만인 경우 '어린이' 결과를 출력하는 코드를 작성하세요.

In [ ]:
나이 = int(input('나이를 정수로 입력..'))

In [ ]:
# 코드작성

---
# For 문

## 1. syntax of for loop

```for``` loop은 아래와 같이 쓴다.

    for x in list(or tuple, string)
        execution 1
        execution 2

list,tuple,string의 첫 번째부터 마지막요소까지 차례로 수행이 된다. (execution1 execution 2..)

<img src = "https://cdn.programiz.com/sites/tutorial2program/files/forLoop.jpg">

- for문 역시 끝에 ```":"```을 붙여줘야한다.
- 또한 identation에 주의한다.

In [ ]:
months=["jan", "feb", "march", "april", "may"]
months

['jan', 'feb', 'march', 'april', 'may']

In [ ]:
for i in months:
    print('계절', i)

계절 jan
계절 feb
계절 march
계절 april
계절 may

In [ ]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
list(range(5))

[0, 1, 2, 3, 4]

for-in 다음에는 문자열도 올 수 있다.
- print() 활용

In [ ]:
# 안녕하세요! 라는 문자열은 몇번 반복될까??
for 인사 in [1, 2, 4, 5]:
    print('안녕!')

안녕!
안녕!
안녕!
안녕!

In [ ]:
# 안녕하세요! 라는 문자열은 몇번 반복될까??
for 인사 in [1, 2, 4, 5]:
    print('안녕!' * 인사)

안녕!
안녕!안녕!
안녕!안녕!안녕!안녕!
안녕!안녕!안녕!안녕!안녕!

In [ ]:
# 길이 기준으로 반복함.
for i in [1, 10, 20, 30, 40]:
    print('안녕?')

안녕?
안녕?
안녕?
안녕?
안녕?

range()와 len()

- [len()함수]( https://docs.python.org/ko/3.12/library/functions.html#len)는 임의의 입력값 x의 길이(항목의 전체 개수)를 돌려주는 함수.

In [ ]:
months=["jan", "feb", "march", "april", "may"]
months

위치와 값이 같이 필요할 땐 enumerate()

In [ ]:
#위치와 값 함께 enumerate()
list(enumerate(months))

In [ ]:
months

In [ ]:
for a, b in enumerate(months):
    print(a, b)

In [ ]:
#ValueError: not enough values to unpack (expected 3, got 2)
for a, b, c in enumerate(months):
    print(a, b)

In [ ]:
for a in enumerate(months):
    print(a)

- ```for``` loop 도 else 블록을 가질 수 있다.

- ```for``` loop에서 실행될 것이 끝난 후  ```else``` block이 실행된다.

- ```for``` loop 을 정지하고 싶을 때, ```break```를 사용할 수도 있다. 이럴때 ```else block```은 무시된다. 즉, ```else```block은 ```break```이 없을 때 실행된다.

for, else, break은 다음과 같이 쓴다.

In [ ]:
#for, else만 있는 경우

for i in range(0,5):
    print(i)
else:
    print("else statement")

0
1
2
3
4
else statement

In [ ]:
#break를 만나는 경우

for i in range(0,5):
    print(i)
    if i == 3:
        break
else:
    print("else statement")

0
1
2
3

## for 문 안에 for 문
`for` 문 안에 `for` 문을 넣을 수도 있다.

```python
for a in range(1, 4):  # range 1 부터 4까지를 for 문에 넘겨주고,
    for b in range(1, 4):  # 또 다른 for 문을 입력한다.
        print('a-', a, 'b-', b)  # 첫 for 문의 항목 a 와 두번째 항목인 b 를, 짝지어서 출력
```

```
a- 1 b- 1
a- 1 b- 2
a- 1 b- 3
a- 2 b- 1
a- 2 b- 2
a- 2 b- 3
a- 3 b- 1
a- 3 b- 2
a- 3 b- 3
```

`a` 가 1일 때, `b` 는 1 에서 3 까지 돈다.

그 후에 `a` 가 2 로 넘어가고, `b` 는 다시 1 에서 3 까지 돈다.

In [ ]:
for a in range(1, 4):  # range 1 부터 3까지를 for 문에 넘겨주고,
    for b in range(1, 4):  # 또 다른 for 문을 입력한다.
        print('a-', a, 'b-', b)

`for` 문 안에 `for` 문을 사용해, 구구단을 만들어보자.

In [ ]:
# 이중 for문 - 구구단 2단~9단 - 2*1, 2*2, .. 2*9, ... 9*9
for i in range(2, 10):
    for j in range(1, 10):
        print(i, '*', j, '=', i * j)

## 리스트 함축 (list comprehension)

In [ ]:
# 리스트 [1,2,3] 의 모든 정수에 대하여 제곱값을 구하려면?
# 조건문 - for문
xsquare = []
for x in [1, 2, 3]:
    xsquare.append(x ** 2)
print(xsquare)

[1, 4, 9]

In [ ]:
# 위 코드를 한 줄로 표현 가능

In [ ]:
[x ** 2 for x in xsquare]

[1, 16, 81]

In [ ]:
# 0부터 4까지 0, 1, 2, 3, 4 출력
# range 함수로 가능

In [ ]:
# 0~10까지 숫자 중 짝수만 출력
# 짝수: 2 로 나눈 나머지가 0인 것. (%기호 활용)

In [ ]:
# 0~10까지 숫자 중 짝수만 출력
# 짝수: 2 로 나눈 나머지가 0인 것. (%기호 활용)

# While 문

`while` 문은 어느 조건이 '참' 일 동안, 블록을 반복한다.

```python
while <조건>:  # 조건이 참 이라면
    <블록>     # 블록내에 코드를 실행한다.
```
반복 블록을 실행하면서, 조건이 만족하는지 매번 확인한다.
- 조건이 만족하면 : 계속 반복 블록 실행
- 조건이 만족하지 않는다면 : 반복 블록 실행 종료
- list에 있는 모든 요소를 실행하는 for문에 비해, while문은 특정 조건이 True일때 실행된다. 조건이 False일때 while문은 멈춘다.

### 1. syntax of while loop

while loop은 아래와 같이 쓴다.

    while test_statement:
        execution1
        execution2
        ...

```statement``` 에 주어진 조건이 ```True```일때만 ```execution```들이 실행된다. 한 번  iteration이 끝난 후, ```statement```는 다시 평가되고,
```statement```가 ```False```가 될때까지 이 작업은 반복된다.

<img src="https://cdn.programiz.com/sites/tutorial2program/files/whileLoopFlowchart.jpg">

### 2. while loop 활용

while loop 예시

In [ ]:
#while 조건식:
#   print('블록을 계속해서 반복합니다.')
#   print('이것도 반복합니다.')

In [ ]:
# 숫자가 100부터 시작, 10씩 증가 -> 200 보다 크면 반복문 종료
숫자 = 100
while 숫자 <= 200:
    print(숫자)
    숫자 += 10

### while문의 무한루프 infinite loop


`while` 문은 조건이 참일동안 계속 돌아간다. 따라서, `for` 문과 달리 무한 반복에 빠지지 않도록 주의해야한다.

- 무한 루프가 발생하면 프로그램은 빠져나올 수 없다 (강제종료를 해야 함)
- 무한 루프가 사용되는 프로그램 : 신호등 제어 프로그램
- while 조건식이 True 이면 해당 while 반복문은 영원히 반복된다.

- Q. 무한 루프라고 하더라도, 어떤 조건이 성립하면 빠져나오게 하고 싶은 경우에는?
    - 조건식이 만족할 경우, break 이 호출되게 하여 루프를 빠져나오도록 구성해야 한다.

예시로 `while` 문을 이용해 0 에서 4 까지 출력하도록 하자.
```python
i = 0  #  while 문을 몇 회 도는지 추적하기 위해, while 문 밖에 i 는 0 이라고 지정한다.

while i < 5:   # i 가 5 보다 작을 때까지, while 문을 돈다.
    print(i)   # 반복마다 현재 i 를 프린트 한다.
    i = i + 1  # 다음 반복문으로 넘어가기 전, i 에 1 을 더해준다.
               # 이 단계를 생략하면, i가 계속 0 이기 때문에, 무한 반복을 하게 된다.
```

```
0
1
2
3
4
```

실행 결과, 0 에서 4 까지 숫자가 출력된다.

In [ ]:
i = 0  #  while 문을 몇 회 도는지 추적하기 위해, while 문 밖에 i 는 0 이라고 지정한다.

while i < 5:   # i 가 5 보다 작을 때까지, while 문을 돈다.
    print(i)   # 반복마다 현재 i 를 프린트 한다.
    i = i + 1  # 다음 반복문으로 넘어가기 전, i 에 1 을 더해준다.
               # 이 단계를 생략하면, i가 계속 0 이기 때문에, 무한 반복을 하게 된다.

## while in while

`while` 문 내부에 `while` 문을 또 사용할 수 있다.

1 단부터 5 단까지, 구구단을 외는 프로그램을 짜보자.

구구단의 왼쪽 숫자를 담당할 `a` 라는 변수에 1 이라는 시작값을 넣는다. `a` 는 `while` 문 밖에 지정해야하한다.

```python
a = 1
```
```python
while a < 10:  # 9 단까지만 보기 위해, a가 10 보다 작을 동안 와일문을 돌게 한다.
    b = 1  	   # 구구단의 오른쪽 숫자인 b 라는 변수에 1 이라는 시작값을 넣는다.
    while b < 10:     # b 가 10보다 작을 때,
        print(a * b)  # a 와 b 의 곱을 print 한다.
        b = b + 1     # b 에 1 을 더해준다.
    print('---')      # 작은 while 문이 끝날때마다 구분선을 그어준다.
    a = a + 1         # 작은 while 문을 돈 후, a 에 1 을 더해준다.
```

실행결과, 구구단이 9단까지 출력된다.

In [ ]:
a = 1
while a < 10:  # 9 단까지만 보기 위해, a가 10 보다 작을 동안 와일문을 돌게 한다.
    b = 1         # 구구단의 오른쪽 숫자인 b 라는 변수에 1 이라는 시작값을 넣는다.
    while b < 10:     # b 가 10보다 작을 때,
        print(a * b)  # a 와 b 의 곱을 print 한다.
        b = b + 1     # b 에 1 을 더해준다.
    print('---')      # 작은 while 문이 끝날때마다 구분선을 그어준다.
    a = a + 1         # 작은 while 문을 돈 후, a 에 1 을 더해준다.

## while 조건에 True/False 이용하기

정해진 암호를 입력해야 끝나는 반복문

In [ ]:
# 정해진 암호를 입력해야 끝나는 반복문
# 복합할당연산자 != 사용
password = ''

## while True

`while` 조건을 True 로 놓을 경우, 무한으로 `while` 루프를 돌 수 있다.

`while` 문이 도는 동안, `hi` 를 프린트 하는 코드를 실행시켜보자.

```python
while True:
    print('hi')  
```

```
hi
hi
hi
hi
...
```

그 결과, 주피터 노트북에서 무한으로 'hi' 를 프린트하게 된다.

무한 루프를 강제로 끊기 위해, 커맨드 창에서 **ctrl + c**, 를 누르거나, 상단에 멈춤 표시를 눌러 강제로 루프를 빠져나와야 한다.

따라서 `while` 문을 사용할 때, 무한루프에 빠지지 않도록 조심해야한다.

---
# 루프 제어문

## break

 `break` 문은 반복문에서 중간에 강제로 빠져나올 때 사용한다.



### for

`for` 문에서 `break` 를 사용해 반복문을 빠져나오도록 하자.

0 에서 99 까지 도는 `for` 문을 생성한다면 `for` 문이 100번 돌아야한다.

하지만, 중간에 `i` 가 `5` 일 때, `break` 를 넣어주자.

```python
for i in range(100):  
    print(i)
    if i == 5:
        break
```

그 결과, `i` 가 `5` 가 되자 중간에 `for` 문을 멈추고 빠져나온다.

```
0
1
2
3
4
5
```



### while

`while` 에서도 `break` 를 사용할 수 있다.

```python
i = 0  # i 는 0 이라고 지정한 후 ,

while True:  # 무한 루프
    print(i)  # i 마다 프린트를 한다.
    if i == 5:  # 만약, i 가 5 와 같다면,
        break   # break 를 실행시킨다.
    i = i + 1   # 한 루프마다 i 를 1 씩 증가시킨다.
```

그 결과,  `i` 가 `5` 가 되자 `while` 문을 멈추고, 빠져나왔다.

```
0
1
2
3
4
5
```

## continue

`continue` 문은 반복을 넘어갈때 사용한다.

### for

`for` 문에서 `continue` 를 사용해 반복문을 빠져나오도록 하자.

0 에서 9 까지 도는 `for` 문을 돈 후, 숫자에 100 을 곱해 출력하되,

짝수인 경우 `continue` 를 사용해보자.

```python
for i in range(10):  
    if i % 2 == 0:
        continue
    a = i * 100
    print(a)
```

실행결과, 짝수인 경우 `continue` 이하 코드가 실행되지 않고 다음 숫자로 넘어갔다.

```
100
300
500
700
900
```


### while

`while` 에서도 `continue` 를 사용할 수 있다.

```python
i = 0  # i 는 0 이라고 지정한 후 ,

while i < 10:  # 9 까지의 수
    i = i + 1   # 한 루프마다 i 를 1 씩 증가시킨다.
    if i % 2 == 0:  # 만약, i 가 짝수라면,
        continue   # continue 를 실행시킨다.
    a = i * 100
    print(a)
```

실행결과, 짝수인 경우 `continue` 이하 코드가 실행되지 않고 다음 숫자로 넘어갔다.

```
100
300
500
700
900
```

## pass

 `pass` 문은 어떠한 실행도 하지 않고 넘어가고 싶을 때, 문법을 채우기 위해 사용한다.




### for

`continue` 에서 사용했던 `for` 문에 `pass` 문을 넣어보자. 0에서 9까지 숫자 중 짝수를 만나면 `pass` 한 후, 숫자에 100을 곱해 출력해보자.

```python
for i in range(10):  
    if i % 2 == 0:
        pass
    a = i * 100
    print(a)
```

`for` 문에서 `continue` 를 사용했을 경우 홀수만 출력되었지만 `pass` 를 사용하니 모든 숫자가 출력되었다. 즉, `pass` 는 코드에 영향은 없지만 문법을 채우고 싶을때 사용할 수 있다.

```
0
100
200
300
400
500
600
700
800
900
```

### 함수

`pass` 문은 함수에 구체적인 코드는 짜지 않고 일단 실행보고 싶을때 손쉽게사용할 수 있다.

```python
def some_func():
    pass
```

In [ ]:
list(range(10))

In [ ]:
for i in range(10):
    print(i)
    if i % 2 == 0:
        continue
    a = i * 100
    print(a)

In [ ]:
for i in range(10):
    print(i)
    if i % 2 == 0:
        pass
    a = i * 100
    print(a)

---
# **함수 Functions**

----
# 사용자 정의 함수

- 함수 function : 반복적으로 사용하는 코드의 묶음, 더 큰 프로그램을 구축하는데 사용할 수 있다.
- 객체 object : 코드 중에서 독립적인 단위로 분리할 수 있는 조각
- 모듈 module : 프로그램의 일부를 가지고 있는 독립적인 파일

파이썬의 함수는 다음과 같이 사용한다.

```python
    def function_name(variable):
        execution 1
        execution 2
        ...
```
`def`는 함수용 파이썬 예약어이지만, 함수명(function_name)은 임의로 지정하면된다.

함수가 받는 매개변수(variable)은 함수가 받는 입력값의 변수이며 이 또한 임의로 지정하면 된다.

### 1. 매개변수와 인자

- **매개변수(parameter or variable)**는 함수에 입력으로 전달된 값을 받는 변수

- **인자/인수(arguments)**는 함수를 호출할 때 전달하는 입력값.

In [ ]:
def add(a, b): #a,b는 매개변수
    return a + b
print(add(3, 4)) #3,4는 인자 또는 인수(argument)

In [4]:
def addd(a, b): #a,b는 매개변수
    return
print(addd(3, 4)) #3,4는 인자 또는 인수(argument)

None

### 2. 입력값과 결과값에 따른 함수의 형태

함수는 기본적으로

입력값 -> 함수 -> 리턴값 의 과정을 거친다. 이때, 입력값과 결과값의 존재 유무에 따라 4가지 유형으로 나뉜다.

a. 일반적인 함수
```python
def function_name(variable):
    <execution>
    ...
    return output
```

In [1]:
#예시
def add(a,b):
    result = a + b
    return result

In [2]:
add(3, 4)  # 입력값 있고, 리턴값도 있는

7

b. 입력값이 없는 함수
    
    결과값을 받을 변수 = 함수명()

In [ ]:
def 안녕():
    print('안녕하세요!')
    print('안녕하세요!')

In [ ]:
안녕()

In [ ]:
def 인사():
    x = '안녕하세요!'
    return x * 2
인사()

c. 출력값이 없는 함수

    함수명(입력 인자 argument1, 입력 인자 argument2...)

In [ ]:
def 출력값없음(x, y, z):
    return None

In [ ]:
출력값없음(1, 2, 3)

d. 입력값, 출력값 둘 다 없는 함수

    함수명()

In [ ]:
def 결과값없음():
    return None

In [6]:
def add0(a,b):
    print(a+b)

In [7]:
def add1(a,b):
    return a+b

In [8]:
def add2(a,b):
    print(a+b)
    return a+b

In [9]:
add0(1,2)

3

In [10]:
add1(1,2)

3

In [11]:
add2(1,2)

3

3

In [15]:
print(add0(1,2))

3
None

In [16]:
print(add1(1,2))

3

In [17]:
print(add2(1,2))

3
3

### 3. 사용자 함수의 다양한 예시

In [ ]:
#예시
# add(a, b) 에서 a,b는 함수의 매개변수=파라미터
# 인자(argument)는 값이 할당될 경우

def add(a, b):
    return a + b

In [ ]:
# 값이 할당될 경우 인자(argument)
add(10, 20)

`return` 은 함수의 결과값을 반환한다.

위 함수의 경우
"함수의 이름은 add, 입력값(매개변수)은 2개를 받으며, 함수의 결과값은 2개의 입력값을 더한 값"을 return(반환 또는 출력) 한다. 는 의미

In [ ]:
#함수 사용
add(1, 10)

In [ ]:
# add(a, b) 2개의 인자가 필요한데, 1개만 줄 경우?

In [ ]:
#함수 사용

In [ ]:
#함수 사용

함수 가장 마지막 줄의 `return` 은 값을 반환하는 기능인데, 그렇다면 `print()` 와 동일한 기능이 아닌가? 왜 return 을 사용하는가? 의문이 들 수 있다.

아래 2개의 함수를 보자.

함수 add01, 함수 add02 는 모두 동일한 결과를 출력한다.

```python
def add01(a, b):
    print(a + b)

def add02(a, b):
    return a + b
```


그렇다면 `print()` 대신에 왜 `return` 을 사용할까?

파이썬에서는 함수에 return 이 정의되어 있지 않을 경우, **`return None` 이 함수의 가장 마지막줄에 있다고 가정되어 처리**된다.

```python
def add01(a, b):
    print(a + b)
    return None  #def로 만든 함수 마지막 줄에 return 을 넣지 않아도 있다고 가정됨

def add02(a, b):
    return a + b
```

아래에서 검증할 수 있다.

In [ ]:
def add01(a, b):
    print(a + b)
    #return None

def add02(a, b):
    return a + b

## 4. 키워드 파라미터 keyward arguments (kwargs)

매개변수명 앞에 ** (별표 2개) 을 붙이면 그 매개변수는 dictionary가 되어 모든 형태의 입력arguement 가 key:value쌍으로 딕셔너리에 저장된다.

    함수명(**매개변수명)

In [ ]:
#매개변수 kwargs를 출력
def print_kwargs(**kwargs):
    return kwargs

In [ ]:
print_kwargs(a=1)

In [ ]:
print_kwargs(name='원주율', pi=3.14)

## 함수의 값 전달 - 인자 argument
- 인자 argument : 함수 외부에서 함수 내부로 전달되는 값.

- 2개의 인자를 가지는 함수를 만들 수 있다.

In [ ]:
## mydef << 함수 이름
##  mydef('수요일', '0424')  하면
## '오늘은 수요일', '오늘 날짜는 0424' << 출력되게

In [ ]:
def mydef(a, b):
    출력1 = '오늘은 ' + a
    출력2 = '오늘 날짜는' + b
    return 출력1, 출력2

In [ ]:
mydef('수요일', '0424')

## 함수 반환값 return value
- 함수 내부로부터 외부에 보내는 값을 반환값이라고 한다.
- return 키워드를 사용한다.
- 하지만 모든 함수가 반드시 return 키워드를 가져야 하는 것은 아니며, 필요에 따라 return 을 사용한다.
    - `return None` 이 생략되어 있다

In [ ]:
# 원 면적 구하는 함수
# 반지름을 인자로 하는 함수
# 반지름 **2 * 3.14
def area(반지름):
    원의면적 = 3.14 * (반지름**2)
    return 원의면적
area(10)
area(20)
area(100)

In [ ]:
# 2개의 값을 받아 더한 값과 곱한 값을 돌려주는 함수
# 인자가 2개
def 함수(a, b):
    return a+b, a*b
함수(2, 8)

In [ ]:
# return 을 2번 사용할 경우?
def 함수(a, b):
    return a+b
    return a*b
함수(2, 8)

## 여러 개의 값 반환

In [ ]:
# 1. 튜플로 return
def f(x):
    a = x + 1
    b = x + 3
    c = x + 5
    return (a, b, c)
    #return a, b, c #소괄호가 없어도 튜플로 인식됨
print(f(5))
type(f(5))

In [ ]:
# 2. 딕셔너리로 return
def f2(x):
    d = dict()
    d['a'] = x + 1
    d['b'] = x + 3
    d['c'] = x + 5
    return d
f2(5)

In [ ]:
# 3. 리스트로 return
def f3(x):
    a = x + 1
    b = x + 3
    c = x + 5
    return [a, b, c]
f3(5)

## 여러 개의 값 전달
- 함수가 호출될 때마다 인자는 함수의 매개변수로 전달된다.
- 인자는 함수에 실제 전달되는 값
- 매개변수(parameter) 는 이 인자를 전달받는 변수
- 주의점 : 매개변수의 개수와, 함수에 넘어가는 인자의 개수가 정확히 일치해야 한다. 매개변수가 2개면 넘어가는 인자의 개수도 2개를 전달해야 한다.

In [ ]:
# 덧셈, 뺄셈, 곱셈, 나눗셈 4개 결과를 반환하는 함수
# cal 함수이름
def cal(x, y):
    return x+y, x-y, x*y, x/y
cal(10, 2)

In [ ]:
def get_sum(start, end):  #매개변수 start, end
    s = 0
    for i in range(start, end+1):
        s += i
    return s

In [ ]:
get_sum(1, 5)

---
#### 실습문제
- a, b, c 3개 인자를 받아서 3개 수의 제곱을 반환하는 함수를 작성해보세요.
- 함수이름은 get_square() 로 설정합니다.
-  a, b, c를 각각 1, 2, 3 으로 입력받았을 때, 그 결과를 출력해보세요.

In [ ]:
# 코드 작성

---
## 변수의 적용범위

### 지역변수 local variable
- def를 이용하여 만든 함수 내부에서 작동하는 변수
- def 바깥에서는 알 수 없으므로 호출 불가능

In [ ]:
def 과일():
    apple = 9
    return apple

print(과일())

print(apple) #과일()함수 내부에서만 작동하는 변수

In [ ]:
apple = 5  #global

def 과일():
    apple = 9     #local
    return apple  #local
print(과일())    #local

print(apple) #global

### 전역변수 global variable
- def를 이용하여 만든 함수의 외부의 값을 가져올 수 있다.

- 단, 전역변수를 지나치게 많이 사용할 경우 추후 오류가 발생하였을 때 어떤 부분에서 오류가 발생하였는지 추적하는 것이 어려운 문제가 있으므로 전역변수의 사용은 가급적 최소로 하는 것이 권장된다.

- 함수 내부에서 **변수값을 설정하기 이전에, `global 변수명`**을 사용해야 한다.
    - 순서가 바뀔 경우, SyntaxError:  assigned to before global declaration 이 발생한다.

전역변수, 지역변수 예시

In [ ]:
apple = 5
def 함수예제1번():
    appleplus = apple + 2
    return appleplus

함수예제1번()

In [ ]:
apple = 5
def 함수예제2번():
    apple = 999
    appleplus = apple + 2
    return appleplus
함수예제2번()

In [ ]:
apple = 5
def 함수예제3번():
    global apple
    apple = 999
    appleplus = apple + 2
    return appleplus
함수예제3번()

In [ ]:
# 오류발생!! 순서가 중요
#SyntaxError:  assigned to before global declaration
apple = 5
def 함수예제4번():
    apple = 999
    global apple
    appleplus = apple + 2
    return appleplus
print(함수예제4번())
print(apple)

# 실습문제

##### 1번 문제
- n이라는 매개변수를 입력으로 받아서 n의 제곱값을 반환하는 square(n) 함수를 정의하세요.
- 다음으로 이 함수를 호출하여 3과 4의 제곱을 각각 출력하는 결과를 만들어보세요.

##### 2번 문제
- m, n 이라는 이름의 매개변수를 두 개 입력받아서 두 값 중에서 큰 값을 반환하는 max_2(m,n) 함수와,  작은값을 반환하는 min_2(m,n) 함수를 정의하세요.
- 다음으로 100, 200을 함수의 인자로 넣어서 호출하여 결과를 확인하세요.

- 힌트 : if-else문, return 활용

##### 3번 문제
- 섭씨온도를 화씨온도로 변환하는 식은 다음과 같습니다.
화씨 = (9/5) * 섭씨 + 32
- (1) 섭씨온도를 화씨온도로 변환하는 사용자정의함수를 만드세요. 사용자정의함수의 이름은 cel2far 로 설정하세요.
- (2) 섭씨온도를 0도에서 50도까지 10도 단위로 증가시키면서 여기에 해당하는 화씨온도를 출력하는 코드를 for문과 range()를 사용하여 출력해보세요.

---
😊 수고하셨습니다 😊